DB_HOST= host
DB_USER= user
DB_PASSWORD= password
DB_NAME= name
SECRET= SECRET


# DB_HOST= vvfv20el7sb2enn3.cbetxkdyhwsb.us-east-1.rds.amazonaws.com
# DB_USER= mdq4cfbb6ldinn27
# DB_PASSWORD= hh6mqw8rwxifp0bw
# DB_NAME= z8q2lfoxy74y0asp
# SECRET=Zj3NZVKLfVvZhFZBktKGN3TWE57gcJOwREZNOLZcpTI